<div class="main d-flex flex-column align-items-center">
  <img src="../assets/img/01.png" alt="" srcset="" class="mt-2">
      <div class="waviy">
          <span style="--i:1">C</span>
          <span style="--i:2">o</span>
          <span style="--i:3">m</span>
          <span style="--i:4">i</span>
          <span style="--i:5">n</span>
          <span style="--i:6">g</span>
          <span style="--i:7"> </span>
          <span style="--i:8">S</span>
          <span style="--i:9">o</span>
          <span style="--i:10">o</span>
          <span style="--i:11">n</span> 
        </div>
     <h4>info@progroup.ltd</h4>
     <!-- <h5>Designed By <a href="https://www.output.ae/" target="_blank" >output.ae</a> & Developed By <a href="https://www.input.ae/" target="_blank">input.ae</a></h5> -->

</div>
